<div class="container-fluid">
    <div class="row">
        <div class="primary-bck top-bar p0 w100">
            <nav class="navbar navbar-light bg-faded" style=" margin: 0 auto;">
                <div class="col-md-8 col-6">
                    <a class="navbar-brand" href="#">
                        <img src="../../assets/images/home/wheels-logo.png" width="100px" height="80px" class="d-inline-block align-top" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-6 tx-r">
                    <a routerLink="/vehicles">Vehicles</a>
                    <a [routerLink]="['/vehicles', 123]">Vehicle 1</a>
                </div>
            </nav>
        </div>
    </div>
</div>