<header></header>
<div class="row no-gutters height70">
    <div class="col-md-12 col-xs-12">
        <div class="empty-block height100"></div>
    </div>
</div>
<div class="row p0 m0">
    <div class="container">
        <form>
            <div class="filter-box">
                <div class="form-row align-items-center">
                    <div class="col-md-2 col-xs-10 my-1">
                        <select class="custom-select mr-sm-2" id="selectType" name="selectType" [(ngModel)]="selectedVehicleType">
                            <option disabled value="-1">Choose type:</option>
                            <option *ngFor="let vehicle of vehicleTypes" [ngValue]=vehicle.RowId>{{vehicle.TypeName}}</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-xs-10 my-1">
                        <select class="custom-select mr-sm-2" id="selectMake" name="selectMake" (change)="setVehicleMake()" [(ngModel)]="selectedVehicleMake">
                            <option disabled value="-1">Choose make:</option>
                            <option *ngFor="let vehicle of vehicleMakes" [ngValue]=vehicle.RowId>{{vehicle.MakeName}}</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-xs-10 my-1">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelectModel" name="selectModel" [(ngModel)]="selectedVehicleModel">
                            <option disabled value="-1">Choose model:</option>
                            <option *ngFor="let vehicle of vehicleModels" [ngValue]=vehicle.IdRow>{{vehicle.ModelName}}</option>
                        </select>
                    </div>
                    <div class="col-auto my-1 mlrauto">
                        <button type="button" class="btn btn-primary" (click)="filterAdvertisements()">
                            <i class="fa fa-search"></i> Filter
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row no-gutters mt20">
    <div class="container mt20">
        <div class="row mt20">
            <div *ngFor="let item of advertisements" class="col-4 p10 tx-c">
                <a [routerLink]="['/advertisement-details', item.AdvertisementId]">
                    <div *ngIf="item.ImagePath != null && item.ImagePath != ''">
                        <img [src]="item.ImagePath" height="135px" width="255px">
                        <div class="row">
                            <div class="col-md-12 advertisement-title">{{item.AdvertisementTitle}} [{{item.Price | currency: 'EUR'}}]</div>
                            <!-- <div class="col-md-4 advertisement-title ta-r">{{item.Price}}</div> -->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- accept=".pdf,.doc,.docx,.png" for list of files that can be accepted -->
<input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".jpeg,.png" multiple>
<!-- <img *ngIf="showImage!=null && showImage!=undefined" [src]="showImage" style="height:500px"> -->