<header></header>
<div class="container mt1">
  <div class=".offset-md-3 col-md-6 offset-md-3">
    <div class="jumbotron">
      <h1 class="display-4 tx-c">{{"login_and_drive" | translate}}</h1>
      <hr class="my-4">
      <form #form="ngForm" (ngSubmit)="signin(form.value)">
        <div class="form-group">
          <label for="emailLogin">{{"email" | translate}}</label>
          <input type="text" class="form-control" #Email="ngModel" name="Email" ngModel id="emailLogin" placeholder="example@domain.com" required/>
        </div>
        <div class="alert alert-danger" *ngIf="Email.touched && Email.errors">{{"email_required" | translate}}</div>
        <div class="form-group">
          <label for="passwordLogin">{{"password" | translate}}</label>
          <input type="text" class="form-control" #Password="ngModel" name="Password" ngModel id="passwordLogin" placeholder="*****" required/>
        </div>
        <div class="alert alert-danger" *ngIf="Password.touched && Password.errors">{{"password_required" | translate}}</div>        
        <p class="lead">
          <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-md">{{"submit" | translate}}</button>
        </p>
      </form>

      <div class="alert alert-danger" *ngIf="isSignInError">{{"wrong_credentials" | translate}}</div>        
    </div>
  </div>
</div>