/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/angular2-lightbox/lightbox.css';

$primary-color:#153e4d;

.primary-bck{
    background-color: $primary-color;
}

.primary{
    color: $primary-color;
}

.top-bar{
    padding: 10px;
}

.top-bar a{
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    color: #aaa;
    font-size: .75em;
    text-transform: uppercase;
    line-height: normal;
}

html, body {
    height: 100%;
    font-size: 16px;
    width: 100%;
}

.w100{
    width: 100%;
}

.dsp-inl{
    display: inline !important;
}

select{
    width: 100%;
}

.height100{
    height: 100%;
}

.height70{
    height: 70%;
}

.m0{
    margin: 0!important;
}

.p0{
    padding: 0!important;
}

.p10{
    padding: 10!important;
}

.pl15{
    padding-left: 15px !important;
}

.pr15{
    padding-right: 15px !important;
}

.mar-auto{
    margin-left: auto!important;
    margin-right: auto!important; 
}

.mr15{
    margin-right: 15px !important;
}

.mr1{
    margin-right: 1em;
}

.mr05{
    margin-right: 0.5em;;
}

.ml15{
    margin-left: 15px !important;
}

.ml4{
    margin-left: 4em !important;
}

.m5{
    margin:5px!important;
}

.pr15{
    padding-right: 15px !important;
}

.width60{
    width: 60% !important;
}

.width25{
    width: 25%!important;
}

.mlrauto{
    margin-right: auto!important;
    margin-left: auto!important;
}

.display-inline{
    display: inline!important;
}

.tx-c{
    text-align: center!important;
}


.tx-r{
    text-align: right!important;
}

.mt40{
    margin-top: 40px!important;
}

.mt30{
    margin-top: 30px!important;
}

.mt20{
    margin-top: 20px!important;
}

.mt10{
    margin-top: 10px!important;
}

.mt1{
    margin-top: 1em!important;
}

.mb20{
    margin-bottom: 20px!important;
}

.mb2{
    margin-bottom: 2em;
}

.ta-l{
    text-align: left!important;
}

.ta-r{
    text-align: right!important;
}

.f-opa-85{
    filter: opacity(85%)
}

.title{
    overflow: hidden;
    font-size: 2em;
    color: #153e4d;
    margin-bottom: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 0!important;    
}

li a{
    cursor: pointer;
}

mc-breadcrumbs{
    & ol.breadcrumb{
        margin-bottom: 0 !important;
        background-color: white;
        padding: 0;
    }
    & li.breadcrumb-item{
        text-transform: uppercase;
        margin-right: 3px;

        & a{
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: .8em;
        }
        & span{
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: .8em;
        }

        &:before{
            content: none !important;
        }
        &:after{
            content:'>>';
            font-family:cursive;
            font-size: .8em;
        }
        &:last-of-type:after {
            content: none;
            margin: 0;
        }
    }
}

.float-left{
    float: left !important;
}

.float-right{
    float: right !important;
}

.icon{
    width: 2em;
}