/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.min.css';

$primary-color:#153e4d;

.primary-bck{
    background-color: $primary-color;
}

.primary{
    color: $primary-color;
}

.top-bar{
    padding: 10px;
}

.top-bar a{
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    color: #aaa;
    font-size: 12px;
    text-transform: uppercase;
    line-height: normal;
}

.breadcrumb{
    margin-bottom: 0 !important;
}

html, body {
    height: 100%;
}

.dsp-inl{
    display: inline;
}

select{
    width: 100%;
}

.height100{
    height: 100%;
}

.height70{
    height: 70%;
}

.m0{
    margin: 0!important;
}

.p0{
    padding: 0!important;
}

.mar-auto{
    margin-left: auto!important;
    margin-right: auto!important; 
}

.mr15{
    margin-right: 15px !important;
}

.pr15{
    padding-right: 15px !important;
}

.width60{
    width: 60% !important;
}

.width25{
    width: 25%!important;
}

.mlrauto{
    margin-right: auto!important;
    margin-left: auto!important;
}